/*----commanad codev start------*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
/*----commanad codev start------*/
/*----nav sectio start------*/
.menu{
    width: 80%;
    height: 60px;

}
.logo{
    width:20%;
    height: 60px;
    float: left;
    display: flex;
    
}
.logo i{
    color:rgb(181, 27, 27);
    font-size: 30px;
    padding-top:10px;
    display: block;
}
.logo-text{
    color:rgb(181, 27, 27);
    font-size: 30px;
    padding-top:10px;
    display: block;

}
.logo img{
    width:30px;
    font-size: 10px;
}
.navbar{
    width:65%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    float:left;

}
.navbar ul{
    text-align: center;
    list-style: none;
    
}
.navbar ul li{
    text-transform:capitalize ;
    margin-top: 10px;
    
}
.navbar ul li a{
    margin-left: 20px;
    text-decoration: none;
    color:black;
    text-shadow: 10px;
    font-size: 20px;
}
.button{
    width:15%;
    height: 60px;
    float:left;
    text-align: center;
    padding-left: 20px;
    border: 1px solid red;
    padding-top: 20px;
    border: none;
}
.button samp{
    font-size: 1rem;
    background-color: #17a2b8;
    border-radius: 50px;
    padding:0 20px;
    border: none;
    
}
/*----nav sectio end------*/
/*----main-section sectio start------*/
.main-section{
    width: 100%;
    height: 600px;
    background-color: #17a2b8;

}
.main-section-right{
    width: 50%;
    height: 500px;
    padding-left: 50px;
    float:left;
    padding-top: 50px;
}
.main-section-right h3{
    padding-top: 20px;
    font-size: 24px;
    font-style: normal;
    color:#fff;
    line-height: 29px;
    font-family: Handlee, cursive;;
}
.main-section-right h1{
    font-size: 60px;
    font-style: normal;
    color:#fff;
    line-height: 86px;
    font-family: Handlee, cursive;;
}
.main-section-right p{
    font-size: 16px;
    font-style: normal;
    font-family: Nunito, sans-serif;;
    color:#fff;
    line-height: 24px;
}
.main-section-right button{
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
    border-radius: 30px;
    background-color: #00394f;
    border-color: #00394f;
    color:#fff;
    margin-top: 30px;
    width: 30%;
}
.main-section-right button:hover{
    font-size: 15px;
    background-color: black;
}
.main-section-left{
    width: 50%;
    height: 500px;

    float:left;
}


.main-section-left img{
    width: 80%;
    margin: 10px;
}

/*----main-section sectio end------*/